<h3>Routes</h3>

<ul class="list-group">
	<li class="list-group-item"> GET /client/add - Form to add client to server config</li>
	<li class="list-group-item"> GET /config - Get public key for server</li>
	<li class="list-group-item"> GET /client/:publickey - Get info for client with given publickey (May need to use escaped string)</li>
	<li class="list-group-item"> DELETE /client/ - Delete client with given publickey</li>
</ul>
